
table {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	border: 1px solid #CCC;
	height: 30px;
}

th {
	background: #F3F3F3;
	font-weight: bold;
}

td {
	background: #FAFAFA;
	text-align: center;
}

table {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	border: 1px solid transparent;
	height: 30px;
	transition: all 0.3s;
}

th {
	background: #DFDFDF;
	font-weight: bold;
}

td {
	background: #FAFAFA;
	text-align: center;
}

tr:nth-child(even) td {
	background: #F1F1F1;
}

tr:nth-child(odd) td {
	background: #FEFEFE;
}

.search {
	padding: 2px 2px;
	background: rgba(100, 100, 50, 0);
	border: 2px solid #dbdbdb;
	font-size: 20px;
	}

.button {
	position: relative;
	width: 100px;
	border: 1px solid #00B4CC;
	text-align: center;
	background-color: #207cca; color : #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 25px;
	color: #fff;
}

.button:hover {
	background-color: #fafafa;
	color: #207cca;
}

.trackDetails{
	background-color: #F1F1F1;
}